body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
}

#login-page-title{
    text-align: center;
}

.input-title{
    margin:5px 0px;
}

#login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}