body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
}


/* //////////////////////////////////////////////////////////////////////// */

#login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
}

#login-page-title{
    text-align: center;
}

.input-title{
    margin:5px 0px;
}

#login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* //////////////////////////////////////////////////////////////////////// */

#focus-area-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#focus-area-welcome{
    text-align: center;
    margin: 1px;
}

#focus-area-instruction{
    text-align: center;
}

#select-21CC{
    text-align: center;
}

#focus-area-questionnaire{
    text-align: center;
}

#focus-area-donebutn{
    text-align: center;
}

/* //////////////////////////////////////////////////////////////////////// */
#questionnaire-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}


#questionnaire-statement{
    text-align: center;
}

#all-question-page{
    text-align: center;
}

/* //////////////////////////////////////////////////////////////////////// */
#main-page{
    width:100vw;
    height:100vh; 
    
}


#sidebar-container{
    background: #9287ff;
    width: 200px;
    height: 1000px;
    text-align:left;
}

#title{
    padding: 0px 10px;
    color:white;

}

#dashboard-tab{
    padding:0px 10px;
    color:white;
}

#challenge-tab{
    padding:0px 10px;
    color:white;
}

#progression-tab{
    padding:0px 10px;
    color:white;
}

/* //////////////////////////////////////////////////////////////////////// */

#dashboard-page{
    width:100vw;
    height:100vh;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content: center;

}

#futureself-container{
    text-align:center;
    padding: 0px 400px 0px 0px;
}

/* //////////////////////////////////////////////////////////////////////// */

#challenge-page{
    width:100vw;
    height:100vh;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}
#challenge-title{
    padding: 0px 0px 0px 50px;
}

#diff-challenges{
    padding: 0px 0px 0px 50px;
}
